# Panduan Fungsi dan Sintaks Pandas

In [7]:
import pandas as pd
import numpy as np

# Membaca File & Mengumpulkan Beberapa Informasi Tentang dataset

### Membaca File yang Berbeda

In [49]:
# CVS #
df=pd.read_csv("./Data/laptops.csv")

# Excel #
# df=pd.read_excel("D:/data.xlsx")

# # Json # 
# df=pd.read_json("D:/data.json",lines=True)

# # Zip File #
# df=pd.read_csv("D:/data zip file.zip",compression='zip')

# ## *** Different Encoded File *** ##
# encodings_to_try = ['utf-8', 'Latin-1', 'ISO-8859-1']
# for encoding in encodings_to_try:
#     try:
#         df = pd.read_csv('../Data/laptops.csv', encoding=encoding)
#         print("File read successfully with encoding:", encoding)
#         break
#     except UnicodeDecodeError:
#         print('Sorry')

df.head()

,CompanyName,TypeOfLaptop,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,MSI,Business Laptop,17.040680,IPS Panel Retina Display 2560x1600,Intel Core i7,12GB,512GB SSD,Intel Iris Xe Graphics,Linux,2.064834,35844.099371
1,Chuwi,2 in 1 Convertible,16.542395,Full HD,Intel Core i5,12GB,128GB PCIe SSD,Intel Iris Xe Graphics,No OS,4.060656,37019.059051
2,hp,WorkStation,17.295294,Full HD,Intel Xeon E3-1505M,8GB,1TB HDD,Intel Iris Xe Graphics,Linux,2.901689,33329.360341
3,MSI,2 in 1 Convertible,11.526203,2K,Intel Core i7,16GB,512GB NVMe SSD,Intel Iris Xe Graphics,Windows 10,2.914843,68631.102486
4,Microsoft,Gaming,12.649634,Full HD,Intel Core i5,8GB,512GB SSD,AMD Radeon RX 5600M,Windows 10,4.341995,33842.479566

### Menampilkan semua baris atau kolom

In [50]:
# Tampilkan Semua Baris
df=pd.read_csv("./Data/laptops.csv")
pd.set_option('display.max_rows', None) 
df.head()

# # Tampilkan Semua Kolom
# df=pd.read_csv("../Data/laptops.csv")
#pd.set_option('display.max_columns', None)
#df


# # Display all the baris and kolom
# df=pd.read_csv("../Data/laptops.csv")
# pd.set_option('display.max_rows', None)  
# pd.set_option('display.max_columns', None) 
#df

,CompanyName,TypeOfLaptop,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,MSI,Business Laptop,17.040680,IPS Panel Retina Display 2560x1600,Intel Core i7,12GB,512GB SSD,Intel Iris Xe Graphics,Linux,2.064834,35844.099371
1,Chuwi,2 in 1 Convertible,16.542395,Full HD,Intel Core i5,12GB,128GB PCIe SSD,Intel Iris Xe Graphics,No OS,4.060656,37019.059051
2,hp,WorkStation,17.295294,Full HD,Intel Xeon E3-1505M,8GB,1TB HDD,Intel Iris Xe Graphics,Linux,2.901689,33329.360341
3,MSI,2 in 1 Convertible,11.526203,2K,Intel Core i7,16GB,512GB NVMe SSD,Intel Iris Xe Graphics,Windows 10,2.914843,68631.102486
4,Microsoft,Gaming,12.649634,Full HD,Intel Core i5,8GB,512GB SSD,AMD Radeon RX 5600M,Windows 10,4.341995,33842.479566

### Ubah nama kolom

In [10]:
df.columns = df.columns.str.strip()
df.rename(columns={'OldName1': 'NewName1', 'OldName2': 'NewName2', 'OldName3': 'NewName3'}, inplace=True)
df.head()

,CompanyName,TypeOfLaptop,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,MSI,Business Laptop,17.040680,IPS Panel Retina Display 2560x1600,Intel Core i7,12GB,512GB SSD,Intel Iris Xe Graphics,Linux,2.064834,35844.099371
1,Chuwi,2 in 1 Convertible,16.542395,Full HD,Intel Core i5,12GB,128GB PCIe SSD,Intel Iris Xe Graphics,No OS,4.060656,37019.059051
2,hp,WorkStation,17.295294,Full HD,Intel Xeon E3-1505M,8GB,1TB HDD,Intel Iris Xe Graphics,Linux,2.901689,33329.360341
3,MSI,2 in 1 Convertible,11.526203,2K,Intel Core i7,16GB,512GB NVMe SSD,Intel Iris Xe Graphics,Windows 10,2.914843,68631.102486
4,Microsoft,Gaming,12.649634,Full HD,Intel Core i5,8GB,512GB SSD,AMD Radeon RX 5600M,Windows 10,4.341995,33842.479566

### Dapatkan semua Kolom numerik

In [ ]:
# Ambil semua nama kolom yang bertipe numerik (int dan float)
numerical_columns = df.select_dtypes(include=['int64', 'int32', 'float64', 'float32']).columns.tolist()
numerical_columns

# Buat DataFrame baru yang hanya berisi kolom-kolom numerik
numerical_df = df[numerical_columns]

# Tampilkan 5 baris pertama dari DataFrame numerik untuk melihat hasilnya
numerical_df.head()

      Inches    Weight         Price
0  17.040680  2.064834  35844.099371
1  16.542395  4.060656  37019.059051
2  17.295294  2.901689  33329.360341
3  11.526203  2.914843  68631.102486
4  12.649634  4.341995  33842.479566

### Dapatkan semua kolom kategoris

In [51]:
# Ambil semua nama kolom yang bertipe kategorikal (object/string)
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
categorical_columns

# Buat DataFrame baru yang hanya berisi kolom-kolom kategorikal
categorical_df = df[categorical_columns]

# Tampilkan 5 baris pertama dari DataFrame kategorikal untuk melihat hasilnya
categorical_df.head()

,CompanyName,TypeOfLaptop,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys
0,MSI,Business Laptop,IPS Panel Retina Display 2560x1600,Intel Core i7,12GB,512GB SSD,Intel Iris Xe Graphics,Linux
1,Chuwi,2 in 1 Convertible,Full HD,Intel Core i5,12GB,128GB PCIe SSD,Intel Iris Xe Graphics,No OS
2,hp,WorkStation,Full HD,Intel Xeon E3-1505M,8GB,1TB HDD,Intel Iris Xe Graphics,Linux
3,MSI,2 in 1 Convertible,2K,Intel Core i7,16GB,512GB NVMe SSD,Intel Iris Xe Graphics,Windows 10
4,Microsoft,Gaming,Full HD,Intel Core i5,8GB,512GB SSD,AMD Radeon RX 5600M,Windows 10

### Ambil Subset dari kerangka data

In [13]:
len(df)

1000

In [ ]:
# Ambil 100 baris secara acak dari DataFrame (ubah angkanya sesuai kebutuhan)
df = df.sample(100, random_state=2)

# Reset indeks setelah pengambilan sampel agar urut kembali dari 0
df = df.reset_index(drop=True)

### Acak kumpulan data

In [15]:
df = df.sample(frac=1).reset_index(drop=True)

### Tetapkan kolom baru sebagai indeks

In [16]:
print(df.columns)

Index(['CompanyName', 'TypeOfLaptop', 'Inches', 'ScreenResolution', 'Cpu',
       'Ram', 'Memory', 'Gpu', 'OpSys', 'Weight', 'Price'],
      dtype='object')

In [ ]:
# Mengatur satu kolom sebagai indeks DataFrame
df.set_index('TypeOfLaptop', inplace=True)

# Mengatur beberapa kolom sebagai indeks DataFrame (ubah 'Col1' dan 'Col2' sesuai kebutuhan)
# Parameter drop=True akan menghapus kolom dari DataFrame setelah dijadikan indeks
# df.set_index(['Col1', 'Col2'], inplace=True, drop=True)

### Atur Ulang Indeks Kerangka Data

In [18]:
df.reset_index(inplace=True)

### Menampilkan Kerangka Data

In [ ]:
# Menampilkan 50 baris pertama dari DataFrame (ubah angkanya jika perlu)
df.head(50)

# Menampilkan 50 baris terakhir dari DataFrame (ubah angkanya jika perlu)
df.tail(50)

# Menampilkan 1 baris acak dari DataFrame (ubah angkanya jika ingin lebih banyak sampel)
df.sample(1)

,index,CompanyName,TypeOfLaptop,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
18,18,Apple,2 in 1 Convertible,16.252519,IPS Panel Retina Display 2560x1600,Intel Core i5,16GB,1TB HDD,Intel Iris Xe Graphics,No OS,2.851182,35070.155851

### Bentuk DataFrame

In [20]:
df.shape

(100, 12)

### Informasi DataFrame

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             100 non-null    int64
 1   CompanyName       100 non-null    object
 2   TypeOfLaptop      100 non-null    object
 3   Inches            100 non-null    float64
 4   ScreenResolution  100 non-null    object
 5   Cpu               100 non-null    object
 6   Ram               100 non-null    object
 7   Memory            100 non-null    object
 8   Gpu               100 non-null    object
 9   OpSys             100 non-null    object
 10  Weight            100 non-null    float64
 11  Price             100 non-null    float64
dtypes: float64(3), int64(1), object(8)
memory usage: 9.5+ KB

### Deskripsi DataFrame

In [22]:
df.describe()

            index      Inches      Weight         Price
count  100.000000  100.000000  100.000000    100.000000
mean    49.500000   14.619781    3.551566  49564.516871
std     29.011492    2.073986    0.838829  13572.217602
min      0.000000   11.126754    2.018649  30080.515939
25%     24.750000   12.919925    2.850053  38252.534208
50%     49.500000   14.610471    3.695618  48149.345963
75%     74.250000   16.541939    4.228178  59504.845241
max     99.000000   17.975646    4.951757  97810.331006

### Tipe data kolom

In [ ]:
# Menampilkan tipe data dari satu kolom tertentu
df['TypeOfLaptop'].dtype

# Menampilkan tipe data dari semua kolom dalam DataFrame
df.dtypes

dtype('int64')

### Semua nama kolom

In [24]:
df.columns

Index(['index', 'CompanyName', 'TypeOfLaptop', 'Inches', 'ScreenResolution',
       'Cpu', 'Ram', 'Memory', 'Gpu', 'OpSys', 'Weight', 'Price'],
      dtype='object')

### Nilai Unik(isi Variabel) suatu kolom

In [31]:
df['CompanyName'].unique()

array(['Chuwi', 'Apple', 'MSI', 'Dell', 'Asus', 'lenevo', 'Acer',
       'Microsoft', 'hp'], dtype=object)

# Nilai terbesar dan terkecil dari suatu kolom

In [ ]:
# Mengambil 6 nilai terbesar dari kolom "Price" (ubah angka dalam kurung jika perlu)
largest = df["Price"].nlargest(6)

# Mengambil 10 nilai terkecil dari kolom "Price" (ubah angka dalam kurung jika perlu)
smallest = df["Price"].nsmallest(10)

# Temukan duplikat dan hapus nilai duplikat

In [ ]:
# Menghitung jumlah data yang duplikat pada kolom tertentu (ganti 'index' dengan nama kolom yang sesuai)
duplicate = df['index'].duplicated().sum()

# Menghapus data duplikat dari kolom tertentu (ganti 'index' dengan nama kolom yang sesuai)
drop_duplicate = df['index'].drop_duplicates()

# Jumlah nilai unik suatu kolom

In [ ]:
# Menghitung jumlah kemunculan setiap nilai unik dalam kolom "CompanyName"
pd.set_option('display.max_rows', None)
count_value = df['CompanyName'].value_counts()

# Menghitung persentase kemunculan setiap nilai unik dalam kolom "Gpu"
pd.set_option('display.max_rows', None)
df['Gpu'].value_counts(normalize=True) * 100

Gpu
NVIDIA GeForce GTX 1650    38.0
Intel Iris Xe Graphics     38.0
AMD Radeon RX 5600M        24.0
Name: proportion, dtype: float64

# Ubah Tipe Data Kolom

In [ ]:
# Float
df['Column_name'] = df['Column_name'].astype(float)

# Object
df['Column_name'] = df['Column_name'].astype('category')

# int
df['Column_name'] = df['Column_name'].astype(int)

#Datetime
df['Date_col_name'] = pd.to_datetime(df['Date_col_name'])

# Also can specify the format
df['Date_col_name'] = pd.to_datetime(df['Date_col_name'], format='%Y-%m-%d')

## Contoh

In [54]:
# Mengubah kolom bertipe numerik menjadi float
df['Inches'] = df['Inches'].astype(float)
df['Weight'] = df['Weight'].astype(float)
df['Price'] = df['Price'].astype(float)


# Mengubah kolom bertipe object menjadi kategori (untuk optimasi penggunaan memori)
df['CompanyName'] = df['CompanyName'].astype('category')
df['TypeOfLaptop'] = df['TypeOfLaptop'].astype('category')
df['ScreenResolution'] = df['ScreenResolution'].astype('category')
df['Cpu'] = df['Cpu'].astype('category')
df['Ram'] = df['Ram'].astype('category')
df['Memory'] = df['Memory'].astype('category')
df['Gpu'] = df['Gpu'].astype('category')
df['OpSys'] = df['OpSys'].astype('category')

# Jika terdapat kolom dengan format tanggal (misalnya 'Date_col_name'), ubah ke tipe datetime
# df['Date_col_name'] = pd.to_datetime(df['Date_col_name'])
# df['Date_col_name'] = pd.to_datetime(df['Date_col_name'], format='%Y-%m-%d')  # Jika ada format tertentu

###

# Hapus kolom dan baris

In [ ]:
# Menghapus satu kolom dari DataFrame  
df = df.drop('Column_name', axis=1, inplace=True)

# Menghapus beberapa kolom dari DataFrame  
df = df.drop(['Column_name1', 'Column_name2'], axis=1, inplace=True)

# Menghapus satu baris berdasarkan indeks  
df = df.drop(row_number, axis=0, inplace=True)  
Ex---> df = df.drop(4, axis=0, inplace=True)

# Menghapus beberapa baris berdasarkan indeks  
df = df.drop([row_number1, row_number2, row_number3...], axis=0, inplace=True)  
Ex---> df = df.drop([3, 6, 11], axis=0, inplace=True)

# Menghapus baris berdasarkan nilai dalam suatu kolom  
df = df[df['Column_name'] != 'value']  
Ex---> df = df[df['Brand'] != 'Others']

# Pemilihan kolom dan baris

In [ ]:
# Memilih satu kolom dari DataFrame  
single_column = df['ColumnName']

# Memilih beberapa kolom dari DataFrame  
multiple_columns = df[['Column1', 'Column2']]

# Memilih satu baris berdasarkan indeks  
single_row = df.loc[[row_number]]  
Ex---> single_row = df.loc[[2]]

# Memilih beberapa baris berdasarkan indeks  
multiple_rows_iloc = df.loc[[row_number, row_number, row_number...]]  
Ex---> multiple_rows_iloc = df.loc[[2, 4, 5]]

# Mengambil sejumlah karakter pertama dari setiap nilai dalam kolom tertentu  
df['Column_name'] = df['Column_name'].astype(str).str[:number]  
Ex---> df['Year'] = df['Year'].astype(str).str[:4]

# Memilih rentang baris berdasarkan indeks  
df1 = df.loc[num:num]  
Ex---> df1 = df.loc[5:8]  
Ex---> df1 = df.loc[:8]  # Dari awal hingga indeks 8  
Ex---> df1 = df.loc[8:]  # Dari indeks 8 hingga akhir  

# Mengambil satu nilai dari satu kolom berdasarkan indeks baris  
single_value_of_single_column = df.loc[row_number, "Column_name"]  
Ex---> single_value_of_single_column = df.loc[4, "Airline"]

# Memilih satu kolom dengan beberapa baris berdasarkan rentang indeks  
single_column_multiple_rows = df.loc[num:num, "Column_name"]  
Ex---> single_column_multiple_rows = df.loc[1:3, "Airline"]

# Memilih beberapa baris dan beberapa kolom berdasarkan rentang indeks  
multiple_row_multiple_columns = df.loc[num:num, ["Column_name1", "Column_name2"]]  
Ex---> multiple_row_multiple_columns = df.loc[1:3, ["Name", "Grade", "Ranking"]]

# Memilih baris berdasarkan kondisi tertentu  
df1 = df.loc[df["Airline"] == "IndiGo"]  
df1 = df.loc[df["Id"] < 4]

# Mengambil 10 baris terakhir berdasarkan indeks  
last_10_rows_index = df.index[-10:]  
last_10 = df.loc[last_10_rows_index]

# # Filter DataFrame

In [ ]:
'''
&  --> Operator AND (memeriksa apakah kedua kondisi benar)
|  --> Operator OR (memeriksa apakah salah satu kondisi benar)
'''

# Memilih baris di mana nilai dalam kolom 'Column_name' sama dengan "Value"
mask1 = df['Column_name'] == "Value"
df[mask1]

# Contoh 1: Memilih baris di mana 'CarName' adalah "BMW"
mask1 = df['CarName'] == "BMW"
df[mask1]

# Contoh 2: Memilih baris di mana 'CarName' adalah "BMW" DAN 'FuelType' adalah "Gas"
mask1 = df['CarName'] == "BMW"
mask2 = df['FuleType'] == "Gas"
df = df[mask1 & mask2]
df.head()

# Contoh 3: Memilih baris di mana 'CarName' adalah "BMW" DAN ('FuelType' adalah "Gas" ATAU 'Transmission' adalah "Automatic")
mask1 = df['CarName'] == "BMW"
mask2 = df['FuleType'] == "Gas"
mask3 = df['Transmission'] == "Automatic"
df = df[mask1 & (mask2 | mask3)]
df.head()

# Contoh 4: Memilih kolom tertentu ketika 'CarName' adalah "BMW" DAN 'Price' kurang dari atau sama dengan 40.000
mask1 = df['CarName'] == "BMW"
mask2 = df['Price'] <= 40000
df = df.loc[mask1 & mask2, ["Total marks", "Grade", "Ranking"]]
df.head()

# Contoh 5: Memilih kolom tertentu ketika 'CarName' adalah "BMW" DAN 'Price' berada dalam rentang 40.000 hingga 754.000
mask1 = df['CarName'] == "BMW"
mask2 = df['Price'].between(40000, 754000)
df = df.loc[mask1 & mask2, ["Grade", "Ranking"]]
df.head()

# Memisahkan kolom

In [ ]:
# Memisahkan kolom "Column" menjadi dua kolom ("First" dan "Second") menggunakan koma (,) sebagai pemisah.
# Jika pemisahnya berbeda (misalnya titik koma ";"), ganti sesuai kebutuhan.
df[['First', 'Second']] = df['Column'].str.split(',', expand=True)

# Menggunakan ekspresi reguler (regex) untuk mengekstrak pola tertentu dari teks dalam kolom "Column".
# Dalam contoh ini, kita mengekstrak angka setelah "ID:" dan kata setelah "Name:".
import re
df[['First', 'Second']] = df['Column'].str.extract(r'ID: (\d+) Name: (\w+)')

## Contoh

In [59]:
# Mengekstrak brand dan model dari kolom "Gpu"
df[['Gpu_Brand', 'Gpu_Model']] = df['Gpu'].str.extract(r'(\w+)\s(.+)')

# Menampilkan hasil
print(df[['Gpu', 'Gpu_Brand', 'Gpu_Model']].head())

                      Gpu Gpu_Brand         Gpu_Model
0  Intel Iris Xe Graphics     Intel  Iris Xe Graphics
1  Intel Iris Xe Graphics     Intel  Iris Xe Graphics
2  Intel Iris Xe Graphics     Intel  Iris Xe Graphics
3  Intel Iris Xe Graphics     Intel  Iris Xe Graphics
4     AMD Radeon RX 5600M       AMD   Radeon RX 5600M

# Gabungkan, Gabungkan dan Gabung kolom

In [ ]:
# Menggabungkan dua DataFrame secara berdampingan (berdasarkan indeks yang sama) menggunakan merge  
df = pd.merge(df1, df2, right_index=True, left_index=True)

# Menggabungkan dua DataFrame secara vertikal (menumpuk baris dari df2 di bawah df1)  
# Parameter ignore_index=True akan mengatur ulang indeks setelah penggabungan  
df = pd.concat([df1, df2], ignore_index=True)

# Menggabungkan dua DataFrame secara berdampingan berdasarkan indeks menggunakan join  
df = df1.join(df2)

# Urutkan dataframe

In [ ]:
# Mengurutkan DataFrame berdasarkan kolom tertentu dalam urutan menaik (ascending)  
df = df.sort_values(by="column_name", ascending=True)

# Mengurutkan DataFrame berdasarkan kolom tertentu dalam urutan menurun (descending)  
df = df.sort_values(by="column_name", ascending=False)

# Mengurutkan DataFrame berdasarkan beberapa kolom secara bersamaan dalam urutan menurun  
df = df.sort_values(by=['Column1', 'Column2'], ascending=False)

# Mengurutkan DataFrame berdasarkan indeks dalam urutan menurun  
df = df.sort_index(ascending=False)

# Buat dan tambahkan kolom baru (DataFrame)

In [ ]:
# Membuat daftar kosong
list_ = []

# Menyalin semua nilai dari kolom "ColName" ke dalam daftar
for i in df['ColName']:
    list_.append(i)

# Menambahkan daftar sebagai kolom baru di DataFrame
df['New_Column_name'] = list_

# Ganti kolom

In [ ]:
import pandas as pd

# Membuat DataFrame awal
data = {'A': [1, 2, 3], 'B': ['x', 'y', 'z']}
df = pd.DataFrame(data)

# Data baru untuk menggantikan kolom 'B'
new_data = ['p', 'q', 'r']

# Memastikan panjang new_data sesuai dengan jumlah baris di df
if len(new_data) == len(df):
    df['B'] = new_data  # Mengganti kolom tanpa Series
else:
    df['B'] = pd.Series(new_data)  # Menggunakan Series untuk menangani panjang yang berbeda

df

# Buat Dataframe

In [ ]:
# Membuat DataFrame dari daftar (list) sederhana
x = [1, 2, 3]
df = pd.DataFrame(x)
df

# Membuat DataFrame dari dictionary, di mana setiap kunci menjadi nama kolom,
# dan setiap nilai dalam bentuk list menjadi isi kolom
x = {"id": [1, 2, 3], "Name": ["R", "A", "F"], "Ratting": [4.00, 3.50, 3.45]}
df = pd.DataFrame(x)
df

# Membuat DataFrame dari list of dictionaries,
# di mana setiap dictionary mewakili satu baris data
x = [{"id": 1, "Name": "A", "Ratting": 3.0}, {"id": 2, "Name": "B", "Ratting": 5.0}]
df = pd.DataFrame(x)
df

# Buat seri

In [ ]:
# Membuat Series dari list dengan berbagai tipe data (integer dan string)
x = [1, "data frame", "python", "data science"]
df = pd.Series(x)
df


# Membuat Series dari list angka, dengan tipe data yang ditentukan sebagai float
x = [1, 2, 3]
df = pd.Series(x, dtype=float)
df

# Periksa nilai yang hilang

In [ ]:
# Menghitung persentase nilai kosong (NaN) dalam satu kolom ('Airline')
df['Airline'].isnull().sum() / df.shape[0] * 100

# Menghitung persentase nilai kosong (NaN) untuk semua kolom dalam DataFrame
df.isnull().sum() / df.shape[0] * 100

# Menghitung jumlah nilai kosong (NaN) untuk setiap kolom dalam DataFrame
df.isnull().sum()

In [62]:
missing_percentage_single = df['CompanyName'].isnull().sum() / df.shape[0] * 100
print(f"Persentase missing values di 'CompanyName': {missing_percentage_single:.2f}%")

# Menghitung persentase nilai kosong (NaN) untuk semua kolom dalam DataFrame
missing_percentage_all = df.isnull().sum() / df.shape[0] * 100
print("\nPersentase missing values untuk semua kolom:\n", missing_percentage_all)

# Menghitung jumlah nilai kosong (NaN) untuk setiap kolom dalam DataFrame
missing_count = df.isnull().sum()
print("\nJumlah missing values untuk setiap kolom:\n", missing_count)

Persentase missing values di 'CompanyName': 0.00%

Persentase missing values untuk semua kolom:
 CompanyName         0.0
TypeOfLaptop        0.0
Inches              0.0
ScreenResolution    0.0
Cpu                 0.0
Ram                 0.0
Memory              0.0
Gpu                 0.0
OpSys               0.0
Weight              0.0
Price               0.0
Gpu_Brand           0.0
Gpu_Model           0.0
dtype: float64

Jumlah missing values untuk setiap kolom:
 CompanyName         0
TypeOfLaptop        0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price               0
Gpu_Brand           0
Gpu_Model           0
dtype: int64

# Fungsi Dropna

axis: Parameter ini menentukan apakah akan membuang baris atau kolom. Secara default, parameter ini ditetapkan ke 0 (baris). Menetapkannya ke 1 akan membuang kolom dengan nilai NaN.


how: Parameter ini menentukan kriteria yang digunakan untuk membuang nilai NaN. Opsinya adalah:        
'any'   : Membuang baris atau kolom jika ada nilai NaN (default).       
'all'   : Membuang baris atau kolom hanya jika semua nilai adalah NaN.          

thresh  : Parameter ini memerlukan jumlah minimum nilai non-NaN. Misalnya, thresh=2 akan membuang baris atau kolom yang memiliki kurang dari dua nilai non-NaN.

In [ ]:
# Menghapus semua baris yang memiliki nilai kosong (NaN) di setidaknya satu kolom
df = df.dropna()

# Menghapus semua kolom yang memiliki setidaknya satu nilai kosong (NaN)
df = df.dropna(axis=1)

# Menghapus baris yang memiliki semua nilai kosong (NaN) di setiap kolom
df = df.dropna(how="all")

# Menghapus baris yang memiliki kurang dari 4 nilai non-NaN (jika ada kurang dari 4 data valid, maka baris dihapus)
df = df.dropna(thresh=4, axis=0)

# Menghapus kembali baris yang memiliki semua nilai kosong (NaN) di setiap kolom (redundan, sama seperti sebelumnya)
df = df.dropna(how="all")

# Fungsi Fillna

In [ ]:
# Mengisi semua nilai kosong (NaN) dalam DataFrame dengan nilai tetap "FFFFF"
df = df.fillna("FFFFF")

# Mengisi nilai kosong (NaN) dalam kolom tertentu dengan nilai tetap "FFFFF"
df['column_name'] = df['column_name'].fillna("FFFFF")



# Mengisi nilai kosong (NaN) dengan nilai dari sel sebelumnya dalam DataFrame (forward fill)
df = df.fillna(method="ffill")

# Mengisi nilai kosong (NaN) dengan nilai dari sel sebelumnya dalam kolom tertentu (forward fill)
df['column_name'] = df['column_name'].fillna(method="ffill")



# Mengisi nilai kosong (NaN) dengan nilai dari sel berikutnya dalam DataFrame (backward fill)
df = df.fillna(method="bfill")

# Mengisi nilai kosong (NaN) dengan nilai dari sel berikutnya dalam kolom tertentu (backward fill)
df['column_name'] = df['column_name'].fillna(method="bfill")

# Ganti Nilai

In [ ]:
# Menghapus simbol "₹" dan tanda koma "," dari nilai dalam kolom tertentu
df['Column_Name'] = df['Column_Name'].str.replace('₹', '').str.replace(',', '')



##### Menghapus semua simbol, hanya menyisakan teks (huruf dan spasi) #####
import re
df['Column_Name'] = df['Column_Name'].str.replace(r'[^a-zA-Z\s]', '', regex=True)



# Menghapus tanda koma "," dari nilai dalam kolom tertentu
df['Column_Name'] = df['Column_Name'].str.replace(',', '')



# Mengganti beberapa nilai dalam kolom menggunakan dictionary (misalnya 'A' menjadi 'Apple', dst.)
replace_dict = {'A': 'Apple', 'B': 'Banana', 'C': 'Cherry'}
df['column_name'].replace(replace_dict, inplace=True)



###################################################
'''
Mengganti semua nilai dalam kolom tertentu kecuali yang ada dalam daftar `given_car_brands`.  
Jika nilai tidak ada dalam daftar, maka akan diganti dengan "Others".
'''

given_car_brands = [
    'Toyota', 'Hyundai', 'Mazda', 'Holden', 'Ford', 'Mitsubishi', 'Nissan',
    'Volkswagen', 'Kia', 'Mercedes-Benz', 'Subaru', 'BMW', 'Audi', 'Honda',
    'Jeep', 'Suzuki', 'MG', 'Land', 'Isuzu', 'GWM', 'Lexus', 'Renault',
    'Volvo', 'LDV', 'Skoda'
]

df['Column_Name'] = df['Column_Name'].apply(lambda x: x if x in given_car_brands else 'Others')
# Di sini, "Others" adalah nilai pengganti untuk data yang tidak termasuk dalam daftar `given_car_brands`

# Nilai numerik dan kategoris yang bersih

In [ ]:
# Menghapus semua karakter selain angka dari kolom numerik
# \D berarti "semua karakter selain digit (0-9)"
import re
df['Column_name'] = df['Column_name'].str.replace(r'\D', '', regex=True)



# Menghapus semua simbol atau karakter khusus dalam kolom kategori,
# hanya menyisakan huruf (a-z, A-Z) dan angka (0-9)
df['Column_name'] = df['Column_name'].str.replace(r'[^a-zA-Z0-9]', '', regex=True)

# KNN imputer dan imputer sederhana

**Anda tidak perlu mengubah kode:**
1. Jika kerangka data Anda hanya berisi kolom numerik, pilih kode pertama.
2. Jika kerangka data Anda hanya berisi kolom kategoris, pilih kode kedua.
3. Jika kerangka data Anda berisi kolom kategoris & numerik, pilih kode ketiga.

In [ ]:
### ************ Mengisi nilai kosong untuk semua kolom numerik ************** ######

from sklearn.impute import KNNImputer

# Menggunakan KNNImputer untuk mengisi nilai kosong berdasarkan 5 tetangga terdekat
imputer = KNNImputer(n_neighbors=5)  
df_imputed = imputer.fit_transform(df)  

# Mengubah hasil imputasi kembali ke DataFrame dengan kolom yang sama
df_imputed = pd.DataFrame(df_imputed, columns=df.columns)



### ********** Mengisi nilai kosong untuk semua kolom kategorikal ************ #########

from sklearn.impute import SimpleImputer

# Menggunakan SimpleImputer dengan strategi 'most_frequent' (nilai yang paling sering muncul)
imputer = SimpleImputer(strategy='most_frequent')

# Menerapkan imputasi ke seluruh DataFrame (berlaku untuk semua kolom kategorikal)
df = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)



### ********** Mengisi nilai kosong untuk kolom numerik dan kategorikal secara terpisah ********** ###########

# Memilih semua kolom numerik dalam DataFrame
numerical_columns = df.select_dtypes(include=['number']).columns.tolist()
numerical_df = df[numerical_columns]

# Menggunakan KNNImputer untuk mengisi nilai kosong dalam kolom numerik
knnimputer = KNNImputer(n_neighbors=5)  
numerical_cln_df = knnimputer.fit_transform(numerical_df)  
numerical_cln_df = pd.DataFrame(numerical_cln_df, columns=numerical_df.columns)



# Memilih semua kolom kategorikal dalam DataFrame
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
categorical_df = df[categorical_columns]

# Menggunakan SimpleImputer untuk mengisi nilai kosong dalam kolom kategorikal dengan nilai yang paling sering muncul
categorical_imputer = SimpleImputer(strategy='most_frequent')
categorical_cln_df = pd.DataFrame(categorical_imputer.fit_transform(categorical_df), columns=categorical_df.columns)



# Menggabungkan kembali DataFrame kategorikal dan numerik setelah imputasi
df = pd.merge(categorical_cln_df, numerical_cln_df, right_index=True, left_index=True)

# Simpan file dalam format berbeda

In [ ]:
df.to_excel("new_file_name.xlsx")
df.to_csv("new_file_name.csv")
df.to_csv("new_file_name.json")

# Kelompokkan berdasarkan

In [ ]:
# ***** Mengelompokkan berdasarkan satu kolom dan menghitung rata-rata nilai dalam kolom lain ********
g1 = df.groupby(['column_name'])['group_val_column_name'].mean().reset_index()

# Mengurutkan hasil berdasarkan indeks secara descending (dari terbesar ke terkecil)
g1 = g1.sort_index(ascending=False)
g1

# Contoh penggunaan:
# Mengelompokkan berdasarkan kolom 'Car' lalu menghitung rata-rata dari kolom 'Price'
g1 = df.groupby(['Car'])['Price'].mean().reset_index()
g1 = g1.sort_index(ascending=False)
g1



# ******** Mengelompokkan berdasarkan beberapa kolom lalu menghitung total nilai dalam kolom lain **********
g1 = df.groupby(['column_name', 'column_name', ...])['group_val_column_name'].sum().reset_index()

# Mengurutkan hasil berdasarkan indeks secara descending
g1 = g1.sort_index(ascending=False)
g1

# Contoh penggunaan:
# Mengelompokkan berdasarkan kolom 'Car' dan 'Transmission' lalu menghitung total 'Price'
g1 = df.groupby(['Car', 'Transmission'])['Price'].sum().reset_index()
g1 = g1.sort_index(ascending=False)
g1

# Agregat

In [ ]:
# Mengelompokkan berdasarkan satu kolom lalu menghitung beberapa agregasi ('mean', 'max', 'min')
result1 = df.groupby('Column_name')['Value_column_name'].agg(['mean', 'max', 'min']).reset_index()

# Contoh penggunaan:
# Mengelompokkan berdasarkan kolom 'car' lalu menghitung rata-rata, nilai maksimum, dan minimum dari kolom 'Price'
result1 = df.groupby('car')['Price'].agg(['mean', 'max', 'min']).reset_index()